<div class="window" cdkDragBoundary=".desktop" cdkDrag  [hidden]="! tas.minimize" [ngStyle]="{'height':sizing(), 'width':sizing(), 'top': top,'left': left}" >
  <div class="task" cdkDragHandle>
    <p>{{tas.name}}</p>
    <div class="tools">
      <i class="fas fa-minus" (click)="tas.colappase(tas)"></i>
      <i class="fas fa-window-restore" (click)="changeSize()"></i>
      <i class="fas fa-window-close" (click)="destroy(tas)"></i>
    </div>
  </div>
  <hr>
  <app-setting *ngIf='tas.setting' [desktopObj]='tas.desktopObj'></app-setting>
  <app-textreader *ngIf='tas.text' [value]='tas.value' [tas]='tas'></app-textreader>
  <app-player *ngIf="tas.player" [source]="tas" ></app-player>
  <div class="explorer" *ngIf='tas.explorer'>
    <div class="file head">
      <p>NAME FILE</p>
      <p>SIZE</p>
      <p> DATE OF CHANGE</p>
    </div>
    <div class="content" cdkDropList (cdkDropListDropped)="drop($event)">
      <div class="file" cdkDrag *ngFor='let siz of size'>
        <p>file</p>
        <p>{{siz}} mb</p>
        <p>09.04.2019</p>
      </div>
    </div>
  </div>
  
</div>