.wrapper{
    width: 100%;
    height: 93%;
    background-color: rgb(13, 13, 20);
    display:flex;
    flex-direction: row;
    justify-content: center;
}
.wrappar-music{
    width: 100%;
    height: 100%;
    background-color: rgb(13, 13, 20);
    display:flex;
    flex-direction: row;
    justify-content: center;
}
.player{
    width: 57%;
    height: 100%;
    display: flex;
    flex-direction: column;
    border-right: 1px solid gainsboro
}
.player p{
    text-align: left;
    color: white;
    margin-top:10px;
    margin-left: 20px;
    margin-bottom: 5px;
    font-size: 14px;
}
#Song{
    font-size: 10px;
    color: gainsboro;
}
img{
    width: 100%;
    height: 100%;
}
.banner{    
    width: 100%;
    height: 65%;
}
.time{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: white;
    z-index: 100;
    bottom: 18px;
}
.playlist{
    color:white;
    margin-left: 5px;
    font-size: 14px;
}
.playlist img{
    width: 40px;
    height: 40px;
    margin-left: 5px;
    border-radius: 5px;
    border: 1px solid gainsboro;
}
.box{
    margin-top: 10px;
}
.item{
    width: 185px;
    margin-top: 10px;
    background-color: rgba(255, 246, 246, 0.075);
    border: 1px solid gainsboro;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 50px;
    cursor: pointer;
}
.item:hover{
    background-color: rgba(255, 246, 246, 0.432);
}
.text{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
progress{
    margin: 0;
    position: relative;
	bottom: 40px;
	left: 0;
    width: 100%;
    height: 14px;
    background-color: #b0b0b067;
    color:#ffffffff;
    opacity: 0.7;
}
span{
    margin: 0 10px
}
.controll{
    width: 100%;
    height: 35px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: 35px;
    margin-top: 20px;
}

.btn{
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

video{
    margin-bottom: 35px;
    width: 100%;
    height: 90%;
}
button{
    border-radius: 10px;
}
button:active, button:focus {
    outline: none;
}
.volume{
    display: flex;
    flex-direction: column;
    
}

input[type="range"] {
    position: relative;
    bottom: 27px;
    width: 40px;
    transform: rotateZ(270deg);
    background: #ffffffff;
}
.slider {
    -webkit-appearance: none;
    height: 1px;
    border-radius: 5px;   
    background: #ffffffff;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
    margin: 0;
}
  
.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    border-radius: 50%; 
    background: #ffffffff;
    cursor: pointer;
    margin: 0;
}

.slider::-moz-range-thumb {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: white;
    cursor: pointer;
    margin: 0;
}