<div class="contextmenu" [ngStyle]="{'left.px': x, 'top.px': y}">
      
  <div class="left-side">
    <div *ngFor="let cntm of contextMenu"  >
      <div *ngIf="cntm.mouseenter" class="item"  (click)="cntm.click(cntm)" (mouseenter)="cntm.mouseenter(cntm)" >
        {{cntm.name}} <span *ngIf="cntm.viewChild" > ></span>
      </div>
      <div *ngIf="!cntm.mouseenter" class="item"  (click)="cntm.click(cntm)" (mouseenter)="leave()" >{{cntm.name}}</div>
    </div>
  </div>

  <div class="right-side" *ngIf="contextMenu[1].viewChild">
        <div class="item" *ngFor="let val of value" (click)="val.click()">{{val.name}}</div>
  </div>

</div>