<div class="explorer" *ngIf='tas.explorer'>
    <div class="file head">
      <p (click)="back()"><i class="fas fa-arrow-left"></i></p>
      <p>NAME FILE</p>
      <p>SIZE</p>
      <p> DATE OF CHANGE</p>
    </div>
     
    <div class="content" cdkDropList (cdkDropListDropped)="drop($event)">
      <ng-container *ngIf='tas.dir'>
      
          <div  class="item" cdkDrag *ngFor='let item of value'(dblclick)="changeValue(item)" >
            <div class="lable">
                <img src="{{item.image}}" alt="label">
                <p>{{item.name}}</p>
            </div>
              <p>{{item.size}} mb</p>
              <p>{{item.date}}</p>
            </div>
      </ng-container>
    </div>
  </div>