.desktop{
    color: azure;

    height: 100vh;
    width: 100vw;
    background-repeat: no-repeat;
    background-size:   cover;
    position: relative;
    animation: shadow  0.5s  ease-in-out
}
.desktop::-webkit-scrollbar {
    display: none;
}
.wrapper::-webkit-scrollbar {
    display: none;
}
.container{
    width: 100%;
    display: flex;
    flex-direction: row;
}
.example-container {
    width: 400px;
    height: 100%;
    max-width: 100%;
    margin: 0 25px 25px 0;
    display: flex;
    flex-direction: row;
}
  
.example-list {
    width:100px;
    min-height: 60px;
    height:95vh;
    overflow: hidden;
    display: flix;
    flex-direction: row;
}
  
.example-box {
    color: rgba(0, 0, 0, 0.87);
    display: flex;
    flex-direction: row;
    width: 100px;
    height: 70px;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    font-size: 14px;
}

.box{
    color: rgba(0, 0, 0, 0.87);
    display: flex;
    flex-direction: row;
    width: 100px;
    height: 70px;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    font-size: 14px;
}
.wrapper{
    background-color: black;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.cdk-drag-preview {
    box-sizing: border-box;
    border-radius: 4px;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
                0 8px 10px 1px rgba(0, 0, 0, 0.14),
                0 3px 14px 2px rgba(0, 0, 0, 0.12);
}
  
.cdk-drag-placeholder {
    opacity: 0;
}
  
.cdk-drag-animating {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.example-box:last-child {
    border: none;
}

.example-list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}