<div class="window" cdkDragBoundary=".desktop" cdkDrag  [hidden]="! tas.minimize" [ngStyle]="{'height':sizing(), 'width':sizing(), 'top': top,'left': left}" >
  <div class="task" cdkDragHandle>
    <p>{{tas.name}}</p>
    <div class="tools">
      <i class="fas fa-minus" (click)="tas.colappase(tas)"></i>
      <i class="fas fa-window-restore" (click)="changeSize()"></i>
      <i class="fas fa-window-close" (click)="destroy(tas)"></i>
    </div>
  </div>
  <hr>
  <app-setting *ngIf='tas.setting' [desktopObj]='tas.desktopObj' ></app-setting>
  <app-textreader *ngIf="tas.type=='txt' && tas.value " [value]='tas.value' [tas]='tas' ></app-textreader>
  <app-player *ngIf="tas.player" [tas]="tas" [source]='tas.source' ></app-player>
  <app-explorer *ngIf="tas.type=='folder'" [tas]='tas' [app]='app' [getData]='getData' ></app-explorer>
</div>