<!--The content below is only a placeholder and can be replaced.-->
    <div class="off" *ngIf='state.Loading'>
        <div class="load-thecube">
            <div class="load-cube load-c1"><span>R</span></div>
            <div class="load-cube load-c2"><span>0</span></div>
            <div class="load-cube load-c4"><span>B</span></div>
            <div class="load-cube load-c3"><span>S</span></div>
        </div>
    </div>
    <app-desktop-page *ngIf='state.Work' [app]='app' [getData]='getData' [setData]='setData' [shortcutArray]="shortcut" [audio]='audio' [tasks]='tasks' [exit]="exit" ></app-desktop-page>
    <div class="off" *ngIf='state.Off'><img src="../assets/img/off.svg" alt="off" (click)="loading()"></div>


<router-outlet></router-outlet>
