<div class="wrapper" (dblclick)="dblclick(cut)">
  <img *ngIf="cut.type=='folder'" src="{{img.folder}}" alt="label">
  <img *ngIf="cut.type=='txt'" src="{{img.text}}" alt="label">
  <img *ngIf="cut.type=='mp4'" src="{{img.player}}" alt="label">
  <img *ngIf="cut.type=='mp3'" src="{{img.player}}" alt="label">
  <img *ngIf="cut.type=='jpeg'" src="{{img.picture}}" alt="label">
  <input *ngIf="cut.creat"   type='text' #text (keyup.enter)="onclick(text.value,cut.type)">
  <p *ngIf="!cut.creat">{{cut.name}}</p>
</div>