<div class="wrapper">

    <div class="left-bar">
      <div class="wrapper-i">
        <i class="fas fa-user-astronaut"></i>
      </div>
      <div class="wrapper-i">
        <i class="fas fa-cogs" (click)="setting.click(setting)"></i>
      </div>
      <div class="wrapper-i">
        <i class="fas fa-archive"></i>
      </div>
      <div class="wrapper-i">
        <i class="fas fa-power-off" (click)='exit()'></i>
      </div>
    </div>
    <div class="right-bar">
        <cdk-virtual-scroll-viewport itemSize="50" class="viewport">
            <div *cdkVirtualFor="let item of shortcut" class="example-item">
              <div *ngIf="item.name" class="item">  
                <app-task  [task]="item" [top]="'20px'" [color]="none" [direction]="'column'" (dblclick)="dblclick(item)"></app-task>
              </div>
            </div>
          </cdk-virtual-scroll-viewport>
        <div class="prof">
          <p class="name">Alexandr Mayorov<p>
            <div class="today">
                <div class="day">
                    <p class="dayD">{{day}}</p>
                    <p class='dayI'>{{dayI}}</p>
                </div>
                <p class="time">{{time}}</p>
            </div>
          <div class="programms">
              <div class="prgrmm">
                <img src="../../assets/img/PC.png" alt="pc" width="50px" height="50px" (dblclick)="dblclick(shortcut[4])"> 
                <p>PC</p>
              </div>
          </div>
        </div>
    </div>
</div>

