.wrapper{
    position: absolute;
    bottom: 35px;
    height: 400px;
    width: 500px;
    background-color: rgba(0, 0, 0, 0.842);
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    color:white;

}

.left-bar{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    border-right: 1px solid rgba(255, 246, 246, 0.5);
    width: 44px;
    font-size: 22px;
    height: 85%;
}
.right-bar{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}
.prof{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 370px;
    width: 270px;
}
.name{
    font-size: 27px;
    margin-bottom: 20px;
    text-transform: uppercase;
    text-align: center;
}
.today{
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    justify-content: space-around;
}
.dayI{
    font-size: 25px;
}
.dayD{
    font-size: 17px;
}
.time{
    font-size: 25px;
    margin-right: 20px;
}
.programms{
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    font-family: 'Ubuntu', sans-serif;

}
.programms i{
    margin-top: 15px;

}
.programms span{
    font-size: 22px;
    text-transform: uppercase;
    margin-left: 15px;
}
.left-bar i{
    padding-top: 10px;
    padding-right: 3px;
    margin-bottom: 12px;
    text-align: center;
}
.prgrmm{
    border-radius: 4px;
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
    width: 120px;
    height: 60px;
}
.prgrmm img{
    margin-left: 5px;
}
.prgrmm:hover{
    background-color: rgba(0, 0, 0, 0.63)
}
.prgrmm p{
    margin-left: 15px;
    font-size: 22px;
    text-transform: uppercase;
}

.wrapper-i{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.left-bar .wrapper-i:hover{
    background-color: rgba(255, 246, 246, 0.829);
    color: black;
    cursor: pointer;
}
.day{
    font-size: 24px;
}

.viewport{
    color:black;
    height: 350px;
    width: 160px;
    margin-left: 10px;
    margin-right: 10px;
}
.viewport::-webkit-scrollbar {
    display: none;
}

.item{
    height: 50px;   
    background-color: rgba(255, 246, 246, 0.603);
    border-radius: 5px;
}

.example-item{
    margin-bottom: 20px
}