.wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: fixed;
}   
.container{
    border: 2px double gainsboro;
    margin: 5px 5px;
}
.color{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
h2{
    margin: 0 0 15px 10px;
    padding: 0;
}
h3{
    margin: 0 6px 0 15px;
}
.btn{
   font-size: 14px;
   font-family: 'Ubuntu', sans-serif;
   width: 60px;
}
.url{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 20px;
    margin: 0 10px 20px 8px;
}
.btnUrl{
    display: flex;
    flex-direction: row;
    align-items:center;
}
img{
    width: 50px;
    height: 50px;
    border: 2px solid gray;
    margin: 15px;
}
.box{
    width: 50px;
    height: 50px;
    border: 2px solid gray;
    margin: 15px;
}
